alabaster
asttokens
Babel
backcall
black
certifi
charset-normalizer
click
cycler
debugpy
decorator
docutils
entrypoints
executing
fonttools
idna
imagesize
importlib-metadata
ipykernel
ipython
jedi
Jinja2
jupyter-client
jupyter-core
kiwisolver
MarkupSafe
lxml
matplotlib
matplotlib-inline
mypy-extensions
nest-asyncio
networkx
numpy
packaging
pandas
parso
pathspec
pexpect
pickleshare
Pillow
platformdirs
prompt-toolkit
psutil
ptyprocess
pure-eval
Pygments
pyparsing
python-dateutil
pytz
pyzmq
requests
scipy
six
snowballstemmer
Sphinx
sphinx-autodoc-typehints
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
stack-data
tomli
tornado
traitlets
typing-extensions
urllib3
wcwidth
zipp
